<div class="card">

    <div class="cardAn">
        <div class="card-header">
            <h3> Stup Coachings !!!!</h3>
        </div>
        <div>
            <p>
                <%= @answer%>
            </p>
        </div>
        <div>
            <p>-You</p>
        </div>
        <div>
            <p>
                <%= @answer%>
            </p>
        </div>
        <div>
            <p>-Stupid Coach</p>
        </div>
    </div>