<div class="card">

    <div class="cardAn">
        <div class="card-header">
            <h3> Stup Coachings !!!!</h3>
        </div>
        <div class="cardAn">
            <li>
                <%= @answer%>
            </li>


            <ul>
                -You
            </ul>
        </div>
        <div class="cardA2">
            <li>
                <%= @answer%>
            </li>


            <ul>
                -Stupid Coach
            </ul>
        </div>
    </div>