<div class="card">
    <h3> Stup Coachings !!!!</h3>
    <p>
        <%= @answer%>

    </p>

    <div>
        <p>-You</p>
    </div>
    <div>
        <p>
            <%= @answer%>
        </p>

    </div>
    <div>
        <p>-StuCoach</p>
    </div>
</div>