<div class="container pt-5">
   
    <div class="cardf" >
        <div class="card-body">
            <h3>OLLA Ollaa Teams</h3>
            <form action="/answer" data-turbo="false">
                <input type="text" class="form-control" name="question">
                <input class="btn btn-primary" type="submit" value="Ask!<%= params[:question] %>">

            </form>
        </div>
    </div>
</div>